@import '../variables/variables';
@import '../mixin/mixin';

/* navigation */

.open {
    width: 100%;

    #menu-icon {
        position: fixed;
        text-align: center;
        height: 50px;
        width: 50px;
        background-color: $light-grey;
        right: 39px;
        top: 33px;
        border-radius: 10px;
        z-index: 4;

        .cls1,
        .cls2,
        .cls3 {
            position: inherit;
            right: 50px;
            top: 40px;
            width: 28px;
            height: 4px;
            background-color: $black;
            margin: 6px 0;
            transition: 0.4s;
            -moz-transition: 0.4s;
            -webkit-transition: 0.4s;
            -ms-transition: 0.4s;
        }

        .cls2 {
            top: 50px;
        }

        .cls3 {
            top: 60px
        }
    }

    
    .language_btn {
        position: fixed;
        right: 10px;
        width: 50px;
        height: 30px;
        border: 0;
        padding: 0;
        z-index: 2;
        text-align: center;

        a {
            display: block;
            height: 100%;
            line-height: 30px;
            text-decoration: none;
            font-size: 25px;
            font-weight: 500;
            color: #fff;
        }
    }

    .language_btn:hover {
        opacity: .6;
    }

    .polish {
        background-image: url('../../img/polish_flag.jpg');
        background-position: center;
        background-size: cover;
        top: 100px;
    }

    .english {
        background-image: url('../../img/english_flag.jpg');
        background-position: center;
        background-size: cover;
        top: 145px;


    }

    .main-nav {
        .sub-menu {
            position: fixed;
            background-color: $menu-background;
            float: left;
            text-align: center;
            margin: 0;
            width: 100%;
            padding: 0;

            .main-item {
                list-style: none;
                display: inline-block;
                float: inherit;
                font-size: 1.3em;
                line-height: 8vh;
                width: 20vw;
                height: 8vh;
                text-align: center;
                display: table-cell;

                a {
                    display: block;
                    text-decoration: none;
                    color: $light-grey;
                    height: 100%
                }

                a:hover {
                    color: rgba(28, 28, 28, 0.5);
                    background-color: $dark-grey;
                    border-bottom: 3px solid #ffa500;
                }
            }
        }
    }

}

.change {
    .cls1 {
        -webkit-transform: rotate(-45deg) translate(-8px, 7px);
        transform: rotate(-45deg) translate(-8px, 7px);
        -moz-transform: rotate(-45deg) translate(-8px, 7px);
        -ms-transform: rotate(-45deg) translate(-8px, 7px);
    }

    .cls2 {
        opacity: 0;
    }

    .cls3 {
        transform: rotate(45deg) translate(-6px, -6px);
        -webkit-transform: rotate(45deg) translate(-6px, -6px);
        -moz-transform: rotate(45deg) translate(-6px, -6px);
        -ms-transform: rotate(45deg) translate(-6px, -6px);
    }
}

.off {
    display: none;
}

.visible {
    display: block;
}

/* navigation - END */
