@media all and (min-width:1170px) {
    .kontener {
        width: 100%;
        text-align: left;
    }
    .fonts {
        position: absolute;
        left: 4vh;
        top: 50%;
        transform: translateY(-50%);
    }
}

@media all and (min-width:992px) and (max-width:1170px) {
    .fonts {
        position: absolute;
        top: 20%;
        right: 0;
        margin: 10px;
    }
    .kontener {
        height: 70vh;
        background-image: url(../obrazy/man-2.jpg);
        background-size: cover;
        background-position: center;
    }
    h1,
    h2 {
        font-size: 25px;
    }
}

@media all and (max-width: 992px) {
    .kontener {
        height: 50vh;
        background-size: cover;
        background-position: center;
    }
    .fonts {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 100%;
    }
    h1,
    h2 {
        font-size: 25px;
        color: black;
        text-align: center;
    }
}
