@media all and (min-width:1170px) {
    .kontener {
        width: 100%;
        text-align: left;
    }
    .fonts {
        position: absolute;
        left: 4vh;
        top: 50%;
        transform: translateY(-50%);
    }
}

@media all and (min-width:992px) and (max-width:1170px) {
    .fonts {
        position: absolute;
        right: 4vh;
        top: 15vh;
    }
    .kontener {
        width: 100%;
        background-image: url(../obrazy/man-2.jpg);
        background-size: cover;
        background-position: center;
    }
}

@media all and (max-width: 992px) {
    .fonts {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -20%;
    }
    h1,
    h2 {
        color: black;
        text-align: center;
    }
}