@media all and (min-width:1170px) {
    .kontener {
        width: 100%;
        text-align: left;
    }
}

@media all and (min-width:992px) and (max-width:1170px) {
    .fonts {
        padding: 0;
        position: absolute;
        right: 3%;
        top: 10%;
    }
    .kontener {
        width: 100%;
        background-image: url(../obrazy/man-2.jpg);
        background-size: cover;
        background-position: center;
    }
}

@media all and (max-width: 992px) {
    .kontener {
        position: relative;
    }
    .fonts {
        left: 25%;
        padding: 0;
        position: absolute;
        bottom: -20%;
    }
    h1,
    h2 {
        color: black;
        text-align: center;
    }