body {
    margin: 0;
}

.kontener {
    height: 500px;
    background-image: url(../obrazy/man-1.jpg);
    background-size: cover;
    background-position: center;
}

h1,
h2 {
    margin: 0;
    color: white;
    text-align: left;
}

h2 {
    font-size: 30px;
}

.fonts {
    padding-top: 15%;
    padding-left: 3%;
}