@import '../variables/variables';
@import '../mixin/mixin';
#portfolio {
    background-color: rgba(33, 59, 80, 0.1);
}

#portfolio {
    .contur {
        a {
            text-decoration: none;
            color: rgba(0, 0, 255, 0.92);
        }
        a:hover {
            color: $limonka;
            text-decoration: underline;
        }
        a:link {
            color: red;
        }
        .hidden {
            overflow: hidden;
        }
        .hidden {
            .img {
                height: 300px;
                @include background-center;
                transition: all 0.4s;
            }
            .img {
                .mask {
                    height: 100%;
                    transition: all 0.4s;
                    opacity: 0;
                }
                .mask:hover {
                    opacity: 1;
                    transform: scale();
                }
                .mask {
                    .fa-link {
                        position: absolute;
                        color: $bialy;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 0;
                        left: 0;
                    }
                    .fa-link:hover {
                        color: #024119;
                    }
                    .portfolio-link {
                        display: inline-block;
                        height: 100%;
                        width: 100%;
                    }
                }
            }
            .first {
                background-image: url(../../img/portfolio2.jpg);
            }
            .second {
                background-image: url(../../img/portfolio4.jpg);
            }
            .third {
                background-image: url(../../img/portfolio3.jpg);
            }
            .img:hover {
                transform: scale(1.5);
            }
        }
    }
}
