@import '../variables/variables';
@import '../mixin/mixin';
#portfolio {
    background-color: rgba(33, 59, 80, 0.1);
}

#portfolio {
    .contur {
        .hidden {
            overflow: hidden;
        }
        .hidden {
            .img {
                height: 300px;
                @include background-center;
                transition: all 0.4s;
            }
            .img {
                .mask {
                    height: 100%;
                    transition: all 0.4s;
                    opacity: 0;
                }
                .mask:hover {
                    opacity: 1;
                    transform: scale();
                }
                .mask {
                    .fa-link {
                        position: absolute;
                        color: $bialy;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 0;
                        left: 0;
                    }
                    .fa-link:hover {
                        color: #024119;
                    }
                }
            }
            .first {
                background-image: url(../../img/portfolio1.jpg);
            }
            .second {
                background-image: url(../../img/portfolio4.jpg);
            }
            .third {
                background-image: url(../../img/portfolio3.jpg);
            }
            .img:hover {
                transform: scale(1.5);
            }
        }
    }
}