#portfolio {
    background-color: rgba(33, 59, 80, 0.1);
}

#portfolio .contur .hidden {
    overflow: hidden;
}

#portfolio .contur .hidden .img {
    height: 300px;
    background-position: center;
    background-size: cover;
    transition: all 0.4s;
}

#portfolio .contur .hidden .img .mask {
    height: 100%;
    transition: all 0.4s;
    opacity: 0;
}

#portfolio .contur .hidden .img .mask:hover {
    opacity: 1;
    transform: scale();
}

#portfolio .contur .hidden .img .mask .fa-link {
    position: absolute;
    color: #fff;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    left: 0;
}

#portfolio .contur .hidden .img .mask .fa-link:hover {
    color: #024119;
}

#portfolio .contur .hidden .first {
    background-image: url(../../img/portfolio1.jpg);
}

#portfolio .contur .hidden .second {
    background-image: url(../../img/portfolio4.jpg);
}

#portfolio .contur .hidden .third {
    background-image: url(../../img/portfolio3.jpg);
}

#portfolio .contur .hidden .img:hover {
    transform: scale(1.5);
}
