body {
    margin: 0px;
    font-family: 'Lato', sans-serif;
}

section {
    padding: 60px 30px;
    background-color: #fff;
}

.container h2 {
    margin-bottom: 50px;
}

span {
    color: #0fb215;
    font-weight: 400;
}

.img {
    background-position: center;
    background-size: cover;
}

.transparent-background {
    background-color: rgba(33, 59, 80, 0.85);
    transition: all 2s;
}

.navbar-light .navbar-toggler {
    background-color: #fff;
}

.navbar-light .navbar-toggler:hover {
    background-color: #0fb215;
}

.navbar-brand {
    font-size: 2em;
    transition: all 0.4s;
}

.navbar-nav .nav-item .nav-link {
    color: #fff;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #0fb215;
}

#home {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

#home .parallax {
    position: absolute;
    width: 100%;
    height: 300%;
    background-image: url("../../img/header/2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    z-index: -1;
}

#home .header_content {
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
}

#home .header_content h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    color: black;
}

#home .header_content h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 5em;
    color: #0fb215;
}

#about .container .row .col-md-6 p {
    text-align: left;
}

#about .container .row .col-md-6 .photo {
    background-image: url(../../img/marcin-biedal.jpg);
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#skills {
    background-color: rgba(33, 59, 80, 0.1);
}

#skills .container .row .col-md-3 .box {
    height: 100px;
    width: 100px;
    position: relative;
    display: inline-block;
    margin: 20px;
}

#skills .container .row .col-md-3 .box-in {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all 0.7s;
}

#skills .container .row .col-md-3 .box-front {
    background-position: center;
    background-size: cover;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

#skills .container .row .col-md-3 .front-1 {
    background-image: url(../../img/icons/html.png);
}

#skills .container .row .col-md-3 .front-2 {
    background-image: url(../../img/icons/css3.png);
}

#skills .container .row .col-md-3 .front-3 {
    background-image: url(../../img/icons/jquery.png);
}

#skills .container .row .col-md-3 .front-4 {
    background-image: url(../../img/icons/js.png);
}

#skills .container .row .col-md-3 .front-5 {
    background-image: url(../../img/icons/bootstrap.png);
}

#skills .container .row .col-md-3 .front-6 {
    background-image: url(../../img/icons/gulp.png);
}

#skills .container .row .col-md-3 .front-7 {
    background-image: url(../../img/icons/sass.png);
}

#skills .container .row .col-md-3 .front-8 {
    background-image: url(../../img/icons/wordpress.png);
}

#skills .container .row .col-md-3 .box-back {
    color: #fff;
    background: #0fb215;
    transform: rotateY(180deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 50%;
}

#skills .container .row .col-md-3 p {
    position: absolute;
    font-size: 20px;
    line-height: 20px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    left: 0;
}

#skills .container .row .col-md-3 .box:hover .box-front {
    transform: rotateY(180deg);
}

#skills .container .row .col-md-3 .box:hover .box-back {
    transform: rotateY(0deg);
}

#qualifications .container .row .col-md-12 {
    margin-bottom: 20px;
}

#qualifications .container .row .col-md-12 .gallery {
    width: 50%;
    margin: 0 auto;
}

#qualifications .container .row .col-md-12 .gallery .thumbnail {
    background-color: rgba(25, 162, 30, 0.2);
    transition: 0.2s;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

#qualifications .container .row .col-md-12 .gallery .thumbnail:hover {
    transform: scale(1.04);
}

#qualifications .container .row .col-md-12 .gallery .thumbnail .lightbox img {
    height: 300px;
}

#qualifications .container .row .col-md-12 .gallery .caption {
    padding: 20px;
}

#qualifications .container .row .col-md-12 .gallery .caption h3 {
    font-size: 20px;
    font-weight: bold;
}

#qualifications .container .row .col-md-12 .gallery .caption p {
    font-size: 14px;
}

#portfolio {
    background-color: rgba(33, 59, 80, 0.1);
}

#portfolio .contur a {
    text-decoration: none;
    color: rgba(0, 0, 255, 0.92);
}

#portfolio .contur a:hover {
    text-decoration: underline;
}

#portfolio .contur a:link {
    color: red;
}

#portfolio .contur .hidden {
    overflow: hidden;
}

#portfolio .contur .hidden .img {
    height: 300px;
    background-position: center;
    background-size: cover;
    transition: all 0.4s;
}

#portfolio .contur .hidden .img .mask {
    height: 100%;
    transition: all 0.4s;
    opacity: 0;
}

#portfolio .contur .hidden .img .mask:hover {
    opacity: 1;
    transform: scale();
}

#portfolio .contur .hidden .img .mask .fa-link {
    position: absolute;
    color: #fff;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    left: 0;
}

#portfolio .contur .hidden .img .mask .fa-link:hover {
    color: #024119;
}

#portfolio .contur .hidden .img .mask .portfolio-link {
    display: inline-block;
    height: 100%;
    width: 100%;
}

#portfolio .contur .hidden .first {
    background-image: url(../../img/portfolio2.jpg);
}

#portfolio .contur .hidden .second {
    background-image: url(../../img/portfolio4.jpg);
}

#portfolio .contur .hidden .third {
    background-image: url(../../img/portfolio3.jpg);
}

#portfolio .contur .hidden .img:hover {
    transform: scale(1.5);
}

#address_section {
    background-color: #213b50;
}

#address_section .container h2 {
    margin-bottom: 20px;
}

#address_section .container .row .col-md-6 .contact_header {
    color: #fff;
    text-align: left;
}

#address_section .container .row .col-md-6 .contact_content .address {
    color: #fff;
    text-align: left;
}

#address_section .container .row .col-md-6 .contact_content .address a {
    color: #0fb215;
}

#address_section .container .row .col-md-6 .contact_content .fa-facebook {
    text-decoration: none;
    background-color: rgba(1, 1, 62, 0.75);
    border-radius: 50%;
    line-height: 50px;
    height: 50px;
    width: 50px;
    display: inline-block;
    text-align: center;
    font-size: 30px;
    color: #fff;
    margin-top: 20px;
    transition: all 0.4s;
}

#address_section .container .row .col-md-6 .contact_content .fa-facebook:hover {
    background-color: #061b71;
    color: #fff;
}

input:not([type="submit"]):focus,
textarea:focus {
    background-color: #4b657b;
    color: #fff;
}

input[type="submit"] {
    text-transform: uppercase;
    color: #fff;
    background-color: #0fb215;
    border: none;
    float: right;
    transition: all 0.3s;
    cursor: pointer;
}

input[type="submit"]:hover {
    color: #1ac056;
    background-color: #fff;
}

input[type="text"],
input[type="email"] {
    color: #fff;
    width: 100%;
    background-color: rgba(66, 91, 147, 0.7);
    border: 0;
}

#message {
    color: #fff;
    width: 100%;
    background-color: rgba(66, 91, 147, 0.7);
    border: 0;
}

input[type="email"]::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
textarea[name="message"]::-webkit-input-placeholder {
    color: #fff;
}

textarea {
    resize: none;
}

footer {
    background-color: #030d2f;
}

footer .container p {
    margin: 0;
    color: #fff;
}
