#portfolio {
    background-color: #f7f7f7;
}

#portfolio .contur .hidden {
    overflow: hidden;
}

#portfolio .contur .hidden .img {
    height: 300px;
    background-position: center;
    background-size: cover;
    transition: all 0.4s;
}

#portfolio .contur .hidden .img .mask {
    background-color: rgba(14, 216, 214, 0.7);
    height: 100%;
    transition: all 0.4s;
    opacity: 0;
}

#portfolio .contur .hidden .img .mask:hover {
    opacity: 1;
}

#portfolio .contur .hidden .img .mask .fa-plus {
    position: absolute;
    color: #fff;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    left: 0;
}

#portfolio .contur .hidden .first {
    background-image: url(../../img/portfolio/box_of_cookies.jpg);
}

#portfolio .contur .hidden .second {
    background-image: url(../../img/portfolio/chaotic_paint.jpg);
}

#portfolio .contur .hidden .third {
    background-image: url(../../img/portfolio/chestnut_on_bracket.jpg);
}

#portfolio .contur .hidden .fourth {
    background-image: url(../../img/portfolio/child_with_blue_paint.jpg);
}

#portfolio .contur .hidden .fifth {
    background-image: url(../../img/portfolio/house_with_blue_doors.jpg);
}

#portfolio .contur .hidden .sixth {
    background-image: url(../../img/portfolio/typing_on_laptop.jpg);
}

#portfolio .contur .hidden .img:hover {
    transform: scale(1.5);
}
