body {
    margin: 0px;
    font-family: 'Lato', sans-serif;
}

section {
    padding: 60px 30px;
    background-color: #fff;
}

.container h2 {
    margin-bottom: 50px;
}

span {
    color: #1ac056;
    font-weight: 400;
}

.img {
    background-position: center;
    background-size: cover;
}

.parallax {
    height: 300px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#parallax-first {
    background-image: url(../../img/paralax/paralax-2.jpg);
}

#parallax-second {
    background-image: url(../../img//paralax/paralax-3.jpg);
}

.transparent-background {
    background-color: rgba(33, 59, 80, 0.85);
    transition: all 2s;
}

.navbar-light .navbar-toggler {
    background-color: #fff;
}

.navbar-light .navbar-toggler:hover {
    background-color: #1ac056;
}

.navbar-brand {
    font-size: 2em;
    transition: all 0.4s;
}

.navbar-nav .nav-item .nav-link {
    color: #fff;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #1ac056;
}

#main-header {
    background: url("../../img/header.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-header .header_content {
    color: #fff;
}

#main-header .header_content h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
}

#main-header .header_content h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 5em;
}

#about .container .row .col-md-6 p {
    text-align: left;
}

#about .container .row .col-md-6 .photo {
    background-image: url(../../img/jan-nowak.jpg);
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#skills .container .row .col-md-3 .box {
    height: 100px;
    width: 100px;
    position: relative;
    display: inline-block;
    margin: 20px;
}

#skills .container .row .col-md-3 .box-in {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all 0.7s;
}

#skills .container .row .col-md-3 .box-front {
    background-position: center;
    background-size: cover;
    z-index: 1;
    backface-visibility: hidden;
}

#skills .container .row .col-md-3 .front-1 {
    background-image: url(../../img/icons/html.png);
}

#skills .container .row .col-md-3 .front-2 {
    background-image: url(../../img/icons/css3.png);
}

#skills .container .row .col-md-3 .front-3 {
    background-image: url(../../img/icons/jquery.png);
}

#skills .container .row .col-md-3 .front-4 {
    background-image: url(../../img/icons/js.png);
}

#skills .container .row .col-md-3 .front-5 {
    background-image: url(../../img/icons/bootstrap.png);
}

#skills .container .row .col-md-3 .front-6 {
    background-image: url(../../img/icons/gulp.png);
}

#skills .container .row .col-md-3 .front-7 {
    background-image: url(../../img/icons/sass.png);
}

#skills .container .row .col-md-3 .front-8 {
    background-image: url(../../img/icons/wordpress.png);
}

#skills .container .row .col-md-3 .box-back {
    color: #fff;
    background: #1ac056;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    border-radius: 50%;
}

#skills .container .row .col-md-3 p {
    position: absolute;
    font-size: 20px;
    line-height: 20px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    left: 0;
}

#skills .container .row .col-md-3 .box:hover .box-front {
    transform: rotateY(180deg);
}

#skills .container .row .col-md-3 .box:hover .box-back {
    transform: rotateY(0deg);
}

#container {
    width: 100%;
    height: 100vh;
    border: 1px solid black;
    margin: 0 auto;
    position: relative;
}

#container > img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
}

#container .btn {
    position: absolute;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 25px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    background-color: blue;
    font-size: 30px;
    line-height: 30px;
    cursor: pointer;
}

#container #btn2 {
    position: relative;
    float: right;
}

#container #btn2:hover {
    box-shadow: -10px 0px 20px 0px black;
}

#container #btn1 {
    position: relative;
    float: left;
}

#container #btn1:hover {
    box-shadow: 10px 0px 20px 0px black;
}

#container .fade {
    animation-name: fadein;
    animation: 1s ease 0s normal forwards 1 fadein;
    -webkit-animation: 1s ease 0s normal forwards 1 fadein;
    opacity: 0;
}

@keyframes fadein {
    from {
        opacity: 0.7;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0.7;
    }

    to {
        opacity: 1;
    }
}

#portfolio .container .row .col-md-4 {
    padding: 0;
}

#portfolio .container .row #transition-1 {
    background-image: url(../../img/portfolio1.jpg);
}

#portfolio .container .row #transition-2 {
    background-image: url(../../img/portfolio2.jpg);
}

#portfolio .container .row #transition-3 {
    background-image: url(../../img/portfolio3.jpg);
}

#portfolio .container .row .contur {
    height: 300px;
    background-position: center;
    background-size: cover;
}

#portfolio .container .row .mask {
    height: 100%;
    background-color: rgba(33, 59, 80, 0.7);
    padding: 5px;
    opacity: 0;
    transition: all 0.3s;
}

#portfolio .container .row .mask:hover {
    opacity: 1;
}

#portfolio .container .row .mask-inner {
    border: 1px solid #fff;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #fff;
}

#portfolio .container .row .fa-link {
    color: #1ac056;
    font-size: 2em;
}

#address_section {
    background-color: #213b50;
}

#address_section .container h2 {
    margin-bottom: 20px;
}

#address_section .container .row .col-md-6 .contact_header {
    color: #fff;
    text-align: left;
}

#address_section .container .row .col-md-6 .contact_content .address {
    color: #fff;
    text-align: left;
}

#address_section .container .row .col-md-6 .contact_content .address a {
    color: #1ac056;
}

#address_section .container .row .col-md-6 .contact_content .fa-facebook {
    text-decoration: none;
    background-color: rgba(1, 1, 62, 0.75);
    border-radius: 50%;
    line-height: 50px;
    height: 50px;
    width: 50px;
    display: inline-block;
    text-align: center;
    font-size: 30px;
    color: #fff;
    margin-top: 20px;
    transition: all 0.4s;
}

#address_section .container .row .col-md-6 .contact_content .fa-facebook:hover {
    background-color: #061b71;
    color: #fff;
}

input:not([type="submit"]):focus,
textarea:focus {
    background-color: #4b657b;
    color: #fff;
}

input[type="submit"] {
    text-transform: uppercase;
    color: #fff;
    background-color: #1ac056;
    border: none;
    float: right;
    transition: all 0.3s;
    cursor: pointer;
}

input[type="submit"]:hover {
    color: #1ac056;
    background-color: #fff;
}

input[type="text"],
input[type="email"] {
    color: #fff;
    width: 100%;
    background-color: rgba(66, 91, 147, 0.7);
    border: 0;
}

#message {
    color: #fff;
    width: 100%;
    background-color: rgba(66, 91, 147, 0.7);
    border: 0;
}

input[type="email"]::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
textarea[name="message"]::-webkit-input-placeholder {
    color: #fff;
}

textarea {
    resize: none;
}

footer {
    background-color: #030d2f;
}

footer .container p {
    margin: 0;
    color: #fff;
}
