#address_section {
    background-color: #213b50;
}

#address_section .container h2 {
    margin-bottom: 20px;
}

#address_section .container .row .col-md-6 .contact_header {
    color: #fff;
    text-align: left;
}

#address_section .container .row .col-md-6 .contact_content .address {
    color: #fff;
    text-align: left;
}

#address_section .container .row .col-md-6 .contact_content .address a {
    color: #0fb215;
}

#address_section .container .row .col-md-6 .contact_content .fa-facebook {
    text-decoration: none;
    background-color: rgba(1, 1, 62, 0.75);
    border-radius: 50%;
    line-height: 50px;
    height: 50px;
    width: 50px;
    display: inline-block;
    text-align: center;
    font-size: 30px;
    color: #fff;
    margin-top: 20px;
    transition: all 0.4s;
}

#address_section .container .row .col-md-6 .contact_content .fa-facebook:hover {
    background-color: #061b71;
    color: #fff;
}
