@font-face {
    font-family: 'Futura LT';
    src: url(../fonts/FuturaLTLight.ttf);
    font-weight: normal;
}

@font-face {
    font-family: 'Futura Book';
    src: url(../fonts/FuturaBook.otf);
    font-weight: normal;
}

@font-face {
    font-family: 'Raleway Regular';
    src: url(../fonts/RalewayRegular.ttf);
    font-weight: normal;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Futura LT', sans-serif;
}

.side_section {
    width: 15%;
    float: left;
}


/*Menu*/

.main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-nav .main_item:hover>a,
.main-nav .main_item.active>a {
    color: #fff;
    background-color: #292929;
    border-right: 2px solid #f07d00;
}

.main-nav .main_item {
    text-align: center;
    height: 60px;
    line-height: 60px;
    position: relative;
    text-transform: uppercase;
    display: block;
    border-top: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
}

.main-nav ul .main_item a {
    text-decoration: none;
    color: #292929;
    display: block;
    height: 100%;
}

.main-nav ul .main_item .secondary_list {
    position: absolute;
    width: 70vw;
    z-index: 1;
    transition: all 0.3s;
    -webkit-transition-property: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    visibility: hidden;
    opacity: 0;
    left: 100%;
    top: 0;
    border: 1px solid #292929;
}

.main-nav ul .main_item .secondary_list.visible {
    visibility: visible;
    opacity: 1;
}

.main-nav .main_item .secondary_list .secondary_item h6,
h5 {
    margin: 0;
    line-height: 20px;
    font-size: 12px;
}

.main-nav .main_item .secondary_list .secondary_item h5 {
    font-size: 18px;
}

.main-nav .main_item .secondary_list .secondary_item .title {
    margin: 0;
}

.main-nav ul .main_item .secondary_list .secondary_item {
    width: 25%;
    height: 140px;
    float: left;
    text-transform: uppercase;
    background-color: #292929;
    text-align: left;
    position: relative;
    font-family: 'Raleway Regular';
}

.main-nav ul .main_item .secondary_list .secondary_item::before {
    content: '';
    border: #545454 0 solid;
    height: 24px;
    width: 24px;
    position: absolute;
    top: -1px;
    left: -1px;
    border-top-width: 1px;
    border-left-width: 1px;
}

.main-nav ul .main_item .secondary_list .secondary_item::after {
    content: '';
    border: #545454 0 solid;
    height: 24px;
    width: 24px;
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom-width: 1px;
    border-right-width: 1px;
}

.main-nav ul .main_item .secondary_list .secondary_item .title .background figcaption {
    position: absolute;
    left: 5px;
    bottom: 5px;
    color: #fff;
    line-height: 20px;
}

.main-nav ul .main_item .secondary_list .secondary_item .title .background figcaption .text {
    margin: 0;
    font-size: 12px;
}

.main-nav ul .main_item .secondary_list .secondary_item .title .background figcaption .bigger {
    font-size: 18px;
}

.main-nav ul .main_item .secondary_list .secondary_item .title .background {
    height: 100%;
    background: url(../img/thumbnail.png);
    background-position: center;
    background-size: cover;
    margin: 0;
}

.main-nav ul .main_item .secondary_list .secondary_item .title .background .mask {
    height: 100%;
    background-color: #292929;
    opacity: 1;
    transition: all 0.3s;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}

.main-nav ul .main_item .secondary_list .secondary_item .title .background .mask:hover {
    opacity: 0;
}


/*droopbox*/

.dropbtn {
    width: 100%;
    background-color: #deded9;
    color: #292929;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}

.dropdown {
    width: 100%;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #deded9;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    z-index: 1;
}

.dropdown-content a {
    color: #292929;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #bcbcba;
}


/*main_contener*/

.main_contener {
    width: 85%;
    float: left;
    flex-direction: row;
}


/*section technical*/

.technical {
    width: 45%;
    float: left;
    padding-left: 30px;
    padding-top: 20px;
    line-height: 35px;
}

.technical .container .technical_discription {
    padding-top: 30px;
}

.technical .container .title h1 {
    margin: 0;
    font-size: 46px;
}

.technical .container .title h2 {
    font-size: 20px;
    margin-top: 0;
    text-transform: uppercase;
}

.technical .container .technical_discription .discription h3 {
    font-size: 46px;
    margin: 0;
}

.technical .container .technical_discription .discription p {
    font-size: 15px;
    font-weight: bold;
    margin: 0;
}

.technical .container .technical_discription .discription .unit {
    font-size: 12px;
}

.technical .container .technical_discription .discription {
    width: 50%;
    float: left;
    padding-bottom: 40px;
}

.technical .container .btn {
    width: 100px;
    height: 30px;
    font-size: 10px;
    color: #f07d00;
    background-color: #ffffff;
    border: 1px solid #f07d00;
    text-transform: uppercase;
}

.technical .container .btn:hover {
    background-color: #f07d00;
    color: #ffffff;
}


/*photo_container*/

#photo_container {
    width: 55%;
    float: left;
}

#photo_container img {
    width: 90%;
    margin-top: 100px;
}

#photo_container .circle {
    color: #fff;
    font-size: 50px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #f07d00;
    line-height: 42px;
    text-align: center;
    position: absolute;
    top: 220px;
    right: 450px;
    cursor: pointer;
}

#photo_container .second {
    top: 350px;
    right: 610px;
}

#photo_container .third {
    top: 500px;
    right: 500px;
}


/*tooltip*/

#photo_container .tooltip .tooltiptext {
    display: none;
    width: 300px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #ffffff;
    text-align: left;
    position: absolute;
    line-height: 16px;
    top: 34px;
    transform: translateY(-88px);
    left: 76px;
    border: 1px solid #9a9a9a;
    font-size: 13px;
    color: #5e5e5e;
}

#photo_container .tooltip .tooltiptext h2 {
    font-size: 29px;
    font-weight: bold;
    margin-top: 25px;
}

#photo_container .tooltip .tooltiptext.visible {
    display: block;
}

#photo_container .tooltip .tooltiptext::before {
    content: "";
    position: absolute;
    top: 79px;
    transform: translateY(-26px);
    left: -53px;
    border-width: 26px;
    border-style: solid;
    border-color: transparent #9a9a9a transparent transparent;
}

#photo_container .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 79px;
    transform: translateY(-25px);
    left: -50px;
    border-width: 25px;
    border-style: solid;
    border-color: transparent #ffffff transparent transparent;
}


/*tooltip STOP*/
