body {
    margin: 0px;
    font-family: 'Lato', sans-serif;
}

section {
    padding: 60px 30px;
}

h2 {
    margin-bottom: 30px;
}


/*Menu*/

#main-nav {
    background-color: rgba(0, 0, 0, 0.4);
}

#main-nav .navbar-brand {
    font-size: 2em;
    transition: all 0.4s;
}

#main-nav .navbar-nav .nav-item .nav-link {
    color: #fff;
}

.navbar-toggler-icon {
    background-color: rgba(255, 255, 255, 0.15);
}

span {
    color: limegreen;
    font-weight: 400;
}

#main-header {
    background: url('../img/header-background.jpg');
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-header .header_content {
    color: #FFF;
}

#main-header .header_content h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
}

#main-header .header_content h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 4em;
}


/*sekcja About*/

#about .container .row .col-md-6 p {
    text-align: left;
}

.img {
    background-position: center;
    background-size: cover;
}

.photo {
    background-image: url(../img/jan-nowak.jpg);
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}


/*sekcja Skills*/

.icon {
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
}

.icon-1 {
    background-image: url(../img/icons/html5.png)
}

.icon-2 {
    background-image: url(../img/icons/css3.png)
}

.icon-3 {
    background-image: url(../img/icons/jquery.png)
}

.icon-4 {
    background-image: url(../img/icons/js.png)
}


/*sekcja Portfolio*/

#portfolio .container .row .col-md-4 {
    padding: 0;
}

#portfolio .container .row .col-md-4 .contur {
    height: 300px;
    background-size: cover;
    background-position: center;
}

#portfolio .container .row .col-md-4 .contur .mask {
    height: 100%;
    background-color: rgba(33, 59, 80, 0.7);
    padding: 5px;
    opacity: 0;
    transition: all 0.3s;
}

#portfolio .container .row .col-md-4 .contur .mask:hover {
    opacity: 1;
}

#portfolio .container .row .col-md-4 .contur .mask .mask-inner {
    border: 1px solid #fff;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#portfolio .container .row .col-md-4 .contur .mask .mask-inner {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #fff;
}

#portfolio .container .row .col-md-4 .contur .mask .mask-inner .fa-link {
    color: lime;
    font-size: 2em;
}

#tranzycja-1 {
    background-image: url(../img/portfolio1.jpg);
}

#tranzycja-2 {
    background-image: url(../img/portfolio2.jpg);
}

#tranzycja-3 {
    background-image: url(../img/portfolio3.jpg);
}


/*<!--sekcja adresowa - START -->*/

#adress_section {
    background-color: #213b50;
}

.contact_header {
    color: white;
    text-align: left;
}

.adres {
    color: white;
    text-align: left;
}

.adres>a {
    color: limegreen;
}

#adres_place {
    margin-bottom: 2%;
}

.fa-facebook {
    color: #fff;
    border: 2px solid #fff;
    height: 50px;
    width: 50px;
    font-size: 1.5em;
    display: inline-block;
    margin-top: 1em;
    text-align: center;
    line-height: 50px;
}

input:not([type="submit"]):focus,
textarea:focus {
    background-color: #4b657b;
    color: #fff;
}

input[type="submit"] {
    text-transform: uppercase;
    color: #fff;
    background-color: #1ac056;
    border: none;
    float: right;
    transition: all 0.3s;
    cursor: pointer;
}

input[type="submit"]:hover {
    color: #1ac056;
    background-color: #fff;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    background-color: rgba(66, 91, 147, 0.7);
    border: 0;
}

#message {
    width: 100%;
    background-color: rgba(66, 91, 147, 0.7);
    border: 0;
}

input[type="email"]::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
textarea[name="message"]::-webkit-input-placeholder {
    color: #fff;
}

textarea {
    resize: none;
}


/*sekcja Footer*/

footer p {
    margin: 0;
    color: white;
    background-color: #030d2f;
}