#about {
    .container {
        .row {
            .col-md-6 p {
                text-align: left;
            }
        }
    }
}

#about {
    .container {
        .row {
            .col-md-6 {
                .photo {
                    background-image: url(../../img/jan-nowak.jpg);
                    height: 300px;
                    width: 300px;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}
