@import '../variables/variables';
@import '../mixin/mixin';
#address_section {
    background-color: $ciemny-niebieski;
}

#address_section {
    .container {
        h2 {
            margin-bottom: 20px;
        }
    }
    .container {
        .row {
            .col-md-6 {
                .contact_header {
                    @include address;
                }
                .contact_content {
                    .address {
                        @include address;
                    }
                    .address {
                        a {
                            color: $limonka;
                        }
                    }
                    .fa-facebook,
                    .fa-linkedin {
                        text-decoration: none;
                        background-color: rgba(1, 1, 62, 0.75);
                        border-radius: 50%;
                        line-height: 50px;
                        height: 50px;
                        width: 50px;
                        display: inline-block;
                        text-align: center;
                        font-size: 30px;
                        color: $bialy;
                        margin-top: 20px;
                        transition: all 0.4s;
                    }
                    .fa-facebook:hover,
                    .fa-linkedin:hover {
                        background-color: rgb(6, 27, 113);
                        color: $bialy;
                    }
                }
            }
        }
    }
}
