#about {
    .container {
        .row {
            .col-md-6 {
                p {
                    text-align: left;
                }
                .photo {
                    background-image: url(../../img/marcin-biedal.jpg);
                    height: 300px;
                    width: 300px;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}
