@media all and (max-width:976px) {
    .courtin {
        height: 70vh;
    }
    .courtin .anime::before {
        background-size: 60vh;
    }
}

@media all and (max-width:576px) {
    
    .courtin {
        height: 60vh;
        background-size: contain;  
    }

    .courtin .anime::before {
        background-size: 30vh;
    }
}
