@media all and (max-width:976px) {
    .courtin {
        height: 70vh;
    }
    .courtin .anime {
        font-size: 7em;
        line-height: 35vh;
    }
    .courtin .anime::before {
        height: 40vh;
    }
}

@media all and (max-width:576px) {
    .courtin {
        height: 40vh;
    }
    .courtin .anime {
        font-size: 4em;
        line-height: 25vh;
    }
    .courtin .anime::before {
        height: 30vh;
    }
}
