* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.courtin {
    height: 100vh;
    background-image: url('../img/background.jpg');
    background-position: center;
    background-size: cover;
}

.anime {
    text-align: center;
    font-size: 40vh;
    line-height: 50vh;
    display: block;
    color: #FFF;
    position: relative;
    top: 30vh;
}

.anime::before {
    height: 60vh;
    content: " ";
    animation: count;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}

@keyframes count {
    1% {
        content: "10";
        color: #00d7ff;
    }
    10% {
        content: "9";
        color: #0636ff;
    }
    18% {
        content: "8";
        color: #00d7ff;
    }
    27% {
        content: "7";
        color: #0b01fc;
    }
    36% {
        content: "6";
        color: #00d7ff;
    }
    45% {
        content: "5";
        color: #0c189d;
    }
    54% {
        content: "4";
        color: #00d7ff;
    }
    63% {
        content: "3";
        color: #0b01fc;
    }
    71% {
        content: "2";
        color: #00d7ff;
    }
    80% {
        content: "1";
        color: #0b01fc;
    }
    90% {
        content: "0";
        color: #00d7ff;
    }
    100% {
        background-image: url('../img/serce.png');
        background-position: 50%;
        background-size: 60vh;
        background-repeat: no-repeat;
        content: "I love CSS";
        font-size: 9vh;
        color: #fff;
    }
}
