#qualifications #container {
    width: 100%;
    height: 600px;
    border: 1px solid black;
    margin: 0 auto;
    position: relative;
}

#qualifications .container .row .col-md-12 #container img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
}

#qualifications .container .row .col-md-12 #container .btn {
    position: absolute;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 25px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    background-color: rgba(0, 0, 255, 0.3);
    font-size: 30px;
    line-height: 30px;
    cursor: pointer;
}

#qualifications .container .row .col-md-12 #container #btn2 {
    position: relative;
    float: right;
}

#qualifications .container .row .col-md-12 #container #btn2:hover {
    box-shadow: -10px 0px 20px 0px rgba(0, 0, 255, 0.75);
}

#qualifications .container .row .col-md-12 #container #btn1 {
    position: relative;
    float: left;
}

#qualifications .container .row .col-md-12 #container #btn1:hover {
    box-shadow: 10px 0px 20px 0px rgba(0, 0, 255, 0.75);
}

#qualifications .container .row .col-md-12 #container .fade {
    animation-name: fadein;
    animation: 1s ease 0s normal forwards 1 fadein;
    -webkit-animation: 1s ease 0s normal forwards 1 fadein;
    opacity: 0;
}

@keyframes fadein {
    from {
        opacity: 0.7;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0.7;
    }

    to {
        opacity: 1;
    }
}
