#main-header {
    background: url("../../img/header.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-header .header_content {
    color: #fff;
}

#main-header .header_content h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
}

#main-header .header_content h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 5em;
}
