@import '../variables/variables';
@import '../mixin/mixin';

@media all and (min-width:768px) and (max-width:991px) {

    /* General styles */
    section {
        padding: 10px 30px;
    }

    /* General styles - END */

    /* navigation */
    .open {
        .main-nav {
            .sub-menu {
                text-align: center;

                .main-item {
                    float: none;
                }
            }

            #hide {
                display: block;
                z-index: 2;
            }
        }

        #menu-icon {
            display: none;
        }
    }

    /* navigation - END */

    /* section ABOUT */
    #about {
        height: 100%;

        .about-text {
            width: 100%;
            margin: 0 auto;
            margin-top: 20vh;
            padding: 20px;
        }

        .title {
            margin-bottom: 20vh;
        }

        .slider-section {
            width: 100%;

            .cube-box {
                margin: 0 auto;
                height: 40vw;
                width: 60vw;

                .walls {
                    div {
                        height: 40vw;
                        width: 60vw;
                    }

                    .front-wall {
                        transform: translateZ(30vw);
                    }

                    .back-wall {
                        transform: rotateY(180deg) translateZ(30vw);
                    }

                    .left-wall {
                        transform: rotateY(-90deg) translateX(-30vw);
                        transform-origin: left;
                    }

                    .right-wall {
                        transform: rotateY(90deg) translateX(30vw);
                        transform-origin: right;
                    }
                }
            }
        }
    }

    /* section ABOUT -END */

    /* section SKILLS */
    #skills {
        .icons {
            .main-icons {
                margin-top: 50px;
            }

            .col-1-1 {
                .qualification {
                    margin: 0;
                }
            }
        }
    }

    /* section SKILLS - END */

    /* section PROJECTS */
    #projects {
        .col-1-2 {
            .card {
                width: 90%;
                margin-bottom: 40px;

                a {
                    .container:hover {
                        img {
                            width: 80%;
                        }

                        figcaption {
                            h3 {
                                width: 90%;
                            }

                            .RWD-mar1 {
                                margin-top: 2em;
                            }
                        }
                    }
                }
            }
        }
    }

    /* section PROJECTS - END*/
}
