@import '../variables/variables';
@import '../mixin/mixin';

@media all and (max-width:479px) {

    /* General styles */
    section {
        padding: 10px 30px;
    }

    .col-1-1,
    .col-1-2,
    .col-1-3,
    .col-1-4 {
        width: 100%;
        display: block;
    }

    .title {
        margin-left: 0;
        margin-right: 0;
    }

    .text {
        text-align: center;
    }

    /* General styles - END */

    /* navigation */

    .open {
        .language_btn {
            top: 5px;
            left: 5px;
        }

        .english {
            left: 60px;
        }

        .main-nav {
            .sub-menu {
                z-index: 2;
                height: 100vh;

                .main-item {
                    width: 100%;
                    height: 20vh;
                    line-height: 20vh;
                    text-align: center;
                    font-size: 2em;
                }
            }
        }
    }

    /* navigation - END */

    /* main-header */

    #main-header {
        .title {
            width: 90%;

            h1 {
                font-size: 2.5em;
            }
        }
    }

    /* main-header - END */

    /* section ABOUT */
    #about {
        height: 100%;

        .about-text {
            width: 100%;
            margin: 0;
            margin-top: 30px;
            font-size: .9em;
        }

        .slider-section {
            width: 100%;

            .cube-box {
                height: 36vw;
                width: 50vw;

                .walls {
                    figure {
                        height: 36vw;
                        width: 50vw;
                    }

                    .front-wall {
                        transform: translateZ(25vw);
                        -webkit-transform: translateZ(25vw);
                        -moz-transform: translateZ(25vw);
                        -ms-transform: translateZ(25vw);
                    }

                    .back-wall {
                        transform: rotateY(180deg) translateZ(25vw);
                        -webkit-transform: rotateY(180deg) translateZ(25vw);
                        -moz-transform: rotateY(180deg) translateZ(25vw);
                        -ms-transform: rotateY(180deg) translateZ(25vw);
                    }

                    .left-wall {
                        transform: rotateY(-90deg) translateX(-25vw);
                        transform-origin: left;
                        -webkit-transform: rotateY(-90deg) translateX(-25vw);
                        -moz-transform: rotateY(-90deg) translateX(-25vw);
                        -ms-transform: rotateY(-90deg) translateX(-25vw);
                        -webkit-transform-origin: left;
                        -moz-transform-origin: left;
                        -ms-transform-origin: left;
                    }

                    .right-wall {
                        transform: rotateY(90deg) translateX(25vw);
                        transform-origin: right;
                        -webkit-transform: rotateY(90deg) translateX(25vw);
                        -moz-transform: rotateY(90deg) translateX(25vw);
                        -ms-transform: rotateY(90deg) translateX(25vw);
                        -webkit-transform-origin: right;
                        -moz-transform-origin: right;
                        -ms-transform-origin: right;
                    }
                }
            }
        }
    }

    /* section ABOUT -END */

    /* section SKILLS */
    /* section SKILLS */
    #skills {
        .icons {
            .main-icons {
                display: block;
                width: 50%;
                margin-top: 50px;
            }

            .col-1-1 {
                .qualification {
                    margin: 0;
                    margin-top: 50px;
                    padding: 0;

                    .certificat {
                        width: 80%;
                    }
                }
            }
        }
    }

    /* section SKILLS - END */

    /* section PROJECTS */
    /* card */

    #projects {
        .col-1-2 {
            .card {
                width: 100%;
                margin-bottom: 40px;

                a {
                    .container:hover {
                        figcaption {
                            h3 {
                                font-size: 1em;
                                width: 70%;
                                margin: 0 auto;
                            }

                            p {
                                font-size: .7em;
                            }

                            .RWD-mar1 {
                                margin-top: 3em;
                            }

                            .RWD-mar2 {
                                margin-top: 3em
                            }
                        }

                        img {
                            width: 80%;
                        }
                    }
                }
            }
        }
    }

    /* card - END */
    /* section PROJECTS - END */

    /* section coctact */
    #contact {
        .col-1-2 {
            .contact_header {

                .social {
                    .social-block {
                        width: 50%;
                        margin-bottom: 50px;
                    }

                    .github {
                        width: 100%;
                    }
                }
            }

            .form_area {
                .form-group {
                    input[type="submit"] {
                        float: inherit;
                    }
                }
            }
        }
    }

    /* section coctact - END */
}
