@import '../variables/variables';
@import '../mixin/mixin';

@media all and (max-width:767px) {

    /* General styles */
    section {
        padding: 10px 30px;
    }

    .col-1-1,
    .col-1-2,
    .col-1-3,
    .col-1-4 {
        width: 100%;
        display: block;
    }

    .text {
        text-align: center;
    }

    /* General styles - END */

    /* navigation */
    .open {
        .main-nav {
            .sub-menu {
                z-index: 2;
                height: 100vh;

                .main-item {
                    width: 100%;
                    height: 20vh;
                    line-height: 20vh;
                    text-align: center;
                    font-size: 2em;
                    display: inline-block;
                }
            }
        }
    }

    /* navigation - END */

    /* main-header */
    #main-header {
        .title {
            h1 {
                font-size: 2.5em;
            }
        }
    }

    /* main-header - END */

    /* section ABOUT */
    #about {
        height: 100%;

        .about-text {
            width: 100%;
            margin: 0;
            margin-top: 60px;
        }

        .title {
            margin-bottom: 100px;
        }

        .slider-section {
            width: 100%;

            .cube-box {
                margin: 0 auto;
                height: 40vw;
                width: 60vw;

                .walls {
                    div {
                        height: 40vw;
                        width: 60vw;
                    }

                    .front-wall {
                        transform: translateZ(30vw);
                    }

                    .back-wall {
                        transform: rotateY(180deg) translateZ(30vw);
                    }

                    .left-wall {
                        transform: rotateY(-90deg) translateX(-30vw);
                        transform-origin: left;
                    }

                    .right-wall {
                        transform: rotateY(90deg) translateX(30vw);
                        transform-origin: right;
                    }
                }
            }
        }
    }

    /* section ABOUT -END */

    /* section SKILLS */
    #skills {
        .icons {
            .main-icons {
                display: block;
                width: 50%;
                margin-top: 10px;
            }

            .col-1-1 {
                .qualification {
                    margin: 0;
                    margin-top: 50px;
                    height: 100%;
                    padding: 0;

                    .certificat {
                        height: 60vh;
                    }
                }
            }
        }
    }

    /* section SKILLS - END */

    /* section PROJECTS */
    #projects {
        .col-1-2 {
            .card {
                width: 90%;
                margin-bottom: 40px;

                a {
                    .container:hover {
                        figcaption {
                            h3 {
                                width: 100%;
                                margin: 0 auto;
                            }
                        }
                    }
                }
            }
        }
    }

    /* section PROJECTS - END */

    /* section coctact */
    #contact {
        .col-1-2 {
            .contact_header {
                .social {
                    margin-bottom: 30px;
                }
            }

            .form_area {
                .form-group {
                    input[type="submit"] {
                        float: inherit;
                    }
                }
            }
        }
    }

    /* section coctact - END */
}
