@media all and (min-width:991px) {
    #hide {
        display: block;
        z-index: 2;
    }
    #menu-icon {
        display: none;
    }
    
}


@media all and (max-width:767px) {

    section {
        padding: 10px 30px;
    }

    .col-1-1,
    .col-1-2,
    .col-1-3,
    .col-1-4 {
        width: 100%;
        display: block;
    }

    .text {
        text-align: center;
    }

    .open .main-nav .sub-menu .main-item {
        font-size: 30px;
        line-height: 30px;
        display: block;
        padding: 30px;
        float: none;

    }

    .open .main-nav .sub-menu {
        z-index: 2;
        height: 100vh;
    }


    #main-header .title h1 {
        font-size: 2.5em;
    }

    #about {
        height: 100%;
    }

    #about .col-1-2 .main-photo {
        width: 100%;
        height: auto;
    }
    #skills .icons .qualification {
        margin: 0;
        margin-top: 50px;
        height: 100%;
        padding: 0;
    }

    #skills .icons .qualification .certificat {
        width: 100%;
        height: auto;
    }
    .box {
        margin: 0;
        margin-bottom: 20px;
        width: 100%;
        overflow: hidden;

    }

    .box a .box-in figcapture h3 {
        margin: 0;
    }

    .box a .box-in figcapture p {
        font-size: .9em;
        margin: 0;
        margin-top: 10px;
    }

    #contact .col-1-2 .contact_header {
        margin-bottom: 50px;
    }

    input[type="submit"] {
        float: inherit;
    }



}


@media all and (max-width:479px) {
    section {
        padding: 10px 30px;
    }

    .col-1-1,
    .col-1-2,
    .col-1-3,
    .col-1-4 {
        width: 100%;
        display: block;
    }

    .text {
        text-align: center;
    }

    .open .main-nav .sub-menu .main-item {
        font-size: 30px;
        line-height: 30px;
        display: block;
        padding: 30px;
        float: none;

    }

    .open .main-nav .sub-menu {
        z-index: 2;
        height: 100vh;
    }




    #main-header .title h1 {
        font-size: 2.5em;
    }

    #about {
        height: 100%;
    }

    #about .col-1-2 .main-photo {
        width: 100%;
        height: auto;
    }

    #skills .icons .main-icons {
        display: block;
        width: 50%;
        margin-top: 50px;
    }

    #skills .icons .qualification {
        margin: 0;
        margin-top: 50px;
        height: 100%;
        padding: 0;
    }

    #skills .icons .qualification .certificat {
        width: 100%;
        height: auto;
    }

    .box {
        margin: 0;
        margin-bottom: 20px;
        width: 100%;
        overflow: hidden;

    }

    .box a .box-in figcapture h3 {
        margin: 0;
    }

    .box a .box-in figcapture p {
        font-size: .9em;
        margin: 0;
        margin-top: 10px;
    }

    #contact .col-1-2 .contact_header {
        margin-bottom: 50px;
    }

    input[type="submit"] {
        float: inherit;
    }
}
