#main-nav {
    background-color: transparent;
    transition: all 0.4s;
}

#main-nav.transparent_blue {
    background-color: rgba(14, 216, 214, 0.75);
}

#main-nav .navbar-brand {
    color: #fff;
    font-family: 'Droid Serif', sans-serif;
    font-size: 2em;
    transition: all 0.4s;
}

#main-nav .navbar-nav .nav-item .nav-link {
    text-transform: uppercase;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    transition: all 0.4s;
}

#main-nav .navbar-brand:hover {
    color: #0ED8D6;
}

#main-nav .nav-item .nav-link:hover {
    color: #0ED8D6;
}
