@media all and (-ms-high-contrast:none) {

    *::-ms-backdrop,
    [data-aos^=fade][data-aos^=fade],
    [data-aos^=zoom][data-aos^=zoom] {
        opacity: 1;
    }
}

@media all and (min-width:992px) {

    /* navigation */
    .open .main-nav #hide {
        display: block;
        z-index: 2;
    }

    .open #menu-icon {
        display: none;
    }

    .open .main-nav .sub-menu {
        text-align: right;
    }

    .open .main-nav .sub-menu .main-item {
        float: none;
    }

    /* navigation - END */
}

@media all and (min-width:768px) and (max-width:991px) {

    /* General styles */
    section {
        padding: 10px 30px;
    }

    /* General styles - END */

    /* navigation */
    .open .main-nav #hide {
        display: block;
        z-index: 2;
    }

    .open #menu-icon {
        display: none;
    }

    .open .main-nav .sub-menu {
        text-align: center;
    }

    .open .main-nav .sub-menu .main-item {
        float: none;
    }

    /* navigation - END */

    /* section ABOUT */
    #about .col-1-2 .text {
        padding: 25px;
    }

    /* section ABOUT -END */

    /* section SKILLS */
    #skills .icons .main-icons {
        margin-top: 50px;
    }

    #skills .icons .col-1-1 .qualification {
        margin: 0;
    }

    /* section SKILLS - END */

    /* section PROJECTS */
    #projects .RWD-block {
        width: 100%
    }

    #projects .col-1-2 .box {
        margin: 0;
        margin-bottom: 20px;
        width: 100%;
        overflow: hidden;
    }

    #projects .col-1-2 .box a .box-in figcapture h3 {
        margin: 0;
    }

    #projects .col-1-2 .box a .box-in figcapture p {
        font-size: .9em;
        margin: 0;
        margin-top: 10px;
    }

    /* section PROJECTS - END*/
}


@media all and (max-width:767px) {

    /* General styles */
    section {
        padding: 10px 30px;
    }

    .col-1-1,
    .col-1-2,
    .col-1-3,
    .col-1-4 {
        width: 100%;
        display: block;
    }

    .text {
        text-align: center;
    }

    /* General styles - END */

    /* navigation */
    .open .main-nav .sub-menu .main-item {
        width: 100%;
        height: 20vh;
        line-height: 20vh;
        text-align: center;
        font-size: 2em;
        display: inline-block;
    }

    .open .main-nav .sub-menu {
        z-index: 2;
        height: 100vh;
    }

    /* navigation - END */

    /* main-header */
    #main-header .title h1 {
        font-size: 2.5em;
    }

    /* main-header - END */

    /* section ABOUT */
    #about {
        height: 100%;
    }

    #about .col-1-2 .main-photo {
        height: 70vh;
    }

    /* section ABOUT - END */

    /* section SKILLS */
    #skills .icons .main-icons {
        display: block;
        width: 50%;
        margin-top: 10px;
    }

    #skills .icons .col-1-1 .qualification {
        margin: 0;
        margin-top: 50px;
        height: 100%;
        padding: 0;
    }

    #skills .icons .col-1-1 .qualification .certificat {
        height: 60vh;
    }

    /* section SKILLS - END */

    /* section PROJECTS */
    #projects .col-1-2 .box {
        margin: 0;
        margin-bottom: 20px;
        width: 100%;
        overflow: hidden;
    }

    #projects .col-1-2 .box a .box-in figcapture h3 {
        margin: 0;
    }

    #projects .col-1-2 .box a .box-in figcapture p {
        font-size: .9em;
        margin: 0;
        margin-top: 10px;
    }

    /* section PROJECTS - END */

    /* section coctact */
    #contact .col-1-2 .contact_header {
        margin-bottom: 50px;
    }

    #contact .col-1-2 .form_area .form-group input[type="submit"] {
        float: inherit;
    }

    /* section coctact - END */
}


@media all and (max-width:479px) {

    /* General styles */
    section {
        padding: 10px 30px;
    }

    .col-1-1,
    .col-1-2,
    .col-1-3,
    .col-1-4 {
        width: 100%;
        display: block;
    }

    .title {
        margin-left: 0;
        margin-right: 0;
    }

    .text {
        text-align: center;
    }

    /* General styles - END */

    /* navigation */
    .open .main-nav .sub-menu .main-item {
        width: 100%;
        height: 20vh;
        line-height: 20vh;
        text-align: center;
        font-size: 2em;
    }

    .open .main-nav .sub-menu {
        z-index: 2;
        height: 100vh;
    }

    /* navigation - END */

    /* main-header */
    #main-header .title h1 {
        font-size: 2.5em;
    }

    /* main-header - END */

    /* section ABOUT */
    #about {
        height: 100%;
    }

    #about .col-1-2 .main-photo {
        width: 100%;
        height: auto;
    }

    /* section ABOUT - END */

    /* section SKILLS*/
    #skills .icons .main-icons {
        display: block;
        width: 50%;
        margin-top: 50px;
    }

    #skills .icons .col-1-1 .qualification {
        margin: 0;
        margin-top: 50px;
        height: 100%;
        padding: 0;
    }

    #skills .icons .col-1-1 .qualification .certificat {
        width: 100%;
        height: auto;
    }

    /* section SKILLS - END */

    /* section PROJECTS */
    #projects .col-1-2 .box {
        margin: 0;
        margin-bottom: 20px;
        width: 100%;
        overflow: hidden;
    }

    #projects .col-1-2 .box a .box-in figcapture h3 {
        margin: 0;
    }

    #projects .col-1-2 .box a .box-in figcapture p {
        font-size: .7em;
        margin: 0;
        margin-top: 7px;
        text-align: left;
    }

    /* section PROJECTS - END */

    /* section coctact */
    #contact .col-1-2 .contact_header {
        margin-bottom: 50px;
    }

    #contact .col-1-2 .form_area .form-group input[type="submit"] {
        float: inherit;
    }

    /* section coctact - END */
}
