* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Amaranth', sans-serif;
    overflow-x: hidden;
}

.col-1-1,
.col-1-2,
.col-1-3,
.col-1-4 {
    float: left;
    width: 50%;
    display: inline-block;
    text-align: center;
}

.col-1-1 {
    width: 100%;
}

.col-1-3 {
    width: 33.3333%;
}

.col-1-4 {
    width: 25%;
}

section {
    float: left;
    width: 100%;
    padding: 40px 60px;
    overflow: hidden;
}

.title {
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 1.5em;
    margin: 60px;
}

.text {
    font-size: 1.2em;
    text-align: left;
}

/* navigation */


.open {
    width: 100%;
}

#menu-icon {
    position: fixed;
    text-align: center;
    height: 50px;
    width: 50px;
    background-color: #b6bcbc;
    right: 39px;
    top: 33px;
    border-radius: 10px;
    z-index: 4;
}

.cls1,
.cls2,
.cls3 {
    position: inherit;
    right: 50px;
    top: 40px;
    width: 28px;
    height: 4px;
    background-color: #000000;
    margin: 6px 0;
    transition: 0.4s;
    -moz-transition: 0.4s;
    -webkit-transition: 0.4s;
}

.cls2 {
    top: 50px;
}

.cls3 {
    top: 60px
}

.change .cls1 {
    -webkit-transform: rotate(-45deg) translate(-8px, 7px);
    transform: rotate(-45deg) translate(-8px, 7px);
    -moz-transform: rotate(-45deg) translate(-8px, 7px);
}

.change .cls2 {
    opacity: 0;
}

.change .cls3 {
    -webkit-transform: rotate(45deg) translate(-6px, -6px);
    transform: rotate(45deg) translate(-6px, -6px);
    -moz-transform: rotate(45deg) translate(-6px, -6px);
}

.open .main-nav .sub-menu {
    position: fixed;
    background-color: rgba(28, 28, 28, 0.72);
    float: left;
    text-align: center;
    margin: 0;
    width: 100%;
    padding: 0;
}

.open .main-nav .sub-menu .main-item {
    list-style: none;
    display: inline-block;
    float: inherit;
    font-size: 1.3em;
    line-height: 2.6em;
    width: 20vw;
    height: 8vh;
    text-align: center;
    display: table-cell;
}

.open .main-nav .sub-menu .main-item a {
    display: block;
    text-decoration: none;
    color: #e6e8e8;
    height: 100%
}

.open .main-nav .sub-menu .main-item a:hover {
    color: rgba(28, 28, 28, 0.5);
    background-color: #e6e8e8;
}

.off {
    display: none;
}

.visible {
    display: block;
}

/* navigation Stop */


/* header */

#main-header {
    position: relative;
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/header/apple-black-and-white-black-and-white-169573.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.main-title h1 {
    font-family: 'Amaranth', sans-serif;
    
}
/* header Stop */

#about {
    height: 100vh;
    background-color: #e6e8e8;
}

#about .col-1-2 .main-photo {
    height: 60vh;
}

#skills {
    background-image: url(../img/proba3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

#skills .icons .main-icons {
    float: left;
    width: 25%;
    text-align: center;
    margin: 0;
    margin-bottom: 50px;
}

#skills .icons .main-icons .icon {
    height: 15vh;
}

#skills .icons .qualification {
    width: 100%;
    padding: 10px 30px;
    height: 70vh;
    overflow: hidden;
}

#skills .icons .qualification .certificat {
    display: inline-block;
    height: 100%;
}

#skills .icons .qualification .certificat:hover {
    overflow: hidden;
    box-shadow: 5px 5px 5px 5px #000000;
    -moz-box-shadow: 5px 5px 5px 5px #000000;
    -webkit-box-shadow: 5px 5px 5px 5px #000000;
}

#skills .icons .qualification .discription {
    display: inline-block;
    padding: 50px;
    line-height: 1.2em;
}

#projects {
    background-color: #e6e8e8;
}

#projects .col-1-2 .box .box-in figcapture h3 a {
    display: block;
    position: relative;
}

/*flip-boxy - START*/

.box {
    height: 40vh;
    width: 40vw;
    position: relative;
    display: inline-block;
    margin: 20px;
}

.box-in {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.box-front {
    z-index: 1;
    backface-visibility: hidden;
    background-position: center;
    background-size: cover;
    border: 5px solid #000000;
}

.box-back {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    background: #c6d1c6;
    color: #625252;
    transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    padding: 10px;
    overflow: hidden;
    border: 5px solid #000000;
}

.box:hover .box-front {
    transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

.box:hover .box-back {
    transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
}

.box .box-front-1 {
    background-image: url(../img/portfolio1.jpg);
}

.box .box-front-2 {
    background-image: url(../img/portfolio2.jpg);
}

.box .box-front-3 {
    background-image: url(../img/portfolio3.jpg);
}

.box .box-front-4 {
    background-image: url(../img/portfolio4.jpg);
}

figcapture {
    font-family: cursive;
    font-size: .8em;
    top: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

figcapture h3 {
    text-align: center
}

/*flip-boxy - STOP*/

/*coctact sectio - START*/

#contact {
    background-image: url(../img/earth-lights-world-41949.jpg);
   background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.map-container {
    margin-top: 50px;
    height: 50vh;
    width: 100%;
}

iframe {
    width: 100%;
    height: 100%;
    
}

#contact .col-1-2 .contact_header h2 {
    font-size: 2em;
    margin: 0;
}

#contact .col-1-2 .contact_header .contact_content .address a {
    display: inline-block;
}

#contact .col-1-2 .contact_header .contact_content .address a:hover {
    background-color: transparent;
    color: #fff;
    
}

#contact .col-1-2 .contact_header .contact_content .social-icons .social-link {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    color: #a0baa5;
    background-color: #3f4848;
    margin-right: 15px;
    font-size: 1.5em;
}

#contact .col-1-2 .contact_header .contact_content .social-icons .social-link:hover {
    color: #fff;
    background-color: rgb(31, 31, 226);
    box-shadow: 1px 2px 2px 2px #fff;
    -moz-box-shadow: 1px 2px 2px 2px #fff;
    -webkit-box-shadow: 1px 2px 2px 2px #fff;
}

.form_area {
    width: 100%;
}

input[type="text"],
input[type="email"],
textarea[name="message"] {
    display: block;
    color: #fff;
    width: 100%;
    background-color: #222427;
    border: 0;
    border-radius: 10px;
    padding: 6px 12px;
    font-size: 1em;
}

input[type="email"]::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
textarea[name="message"]::-webkit-input-placeholder {
    color: #fff;
}

input:not([type="submit"]):focus,
textarea:focus {
    background-color: #828689;
    color: #fff;
    box-shadow: 1px 2px 2px 2px #000000;
    -moz-box-shadow: 1px 2px 2px 2px #000000;
    -webkit-box-shadow: 1px 2px 2px 2px #000000;
}

input[type="submit"] {
    text-transform: uppercase;
    color: #fff;
    background-color: #4b4545;
    border: none;
    border-radius: 10px;
    float: right;
    transition: all 0.3s;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 1em;
    line-height: 1.5;
}

input[type="submit"]:hover {
    color: #595c5a;
    background-color: #fff;
    font-weight: 700;
    box-shadow: 1px 2px 2px 2px #000000;
    -moz-box-shadow: 1px 2px 2px 2px #000000;
    -webkit-box-shadow: 1px 2px 2px 2px #000000;
}

textarea {
    resize: none;
}

/* Section contact - STOP*/
/* Footer - START*/

.footer {
    padding: 0px 60px;
    float: left;
    width: 100%;
    text-align: center;
    background-color: #1c1d1d;
    color: #fff;
}

/* Footer - STOP*/
