/* navigation */
.open {
  width: 100%; }
  .open #menu-icon {
    position: fixed;
    text-align: center;
    height: 50px;
    width: 50px;
    background-color: #e6e8e8;
    right: 39px;
    top: 33px;
    border-radius: 10px;
    z-index: 4; }
    .open #menu-icon .cls1,
    .open #menu-icon .cls2,
    .open #menu-icon .cls3 {
      position: inherit;
      right: 50px;
      top: 40px;
      width: 28px;
      height: 4px;
      background-color: #000000;
      margin: 6px 0;
      transition: 0.4s;
      -moz-transition: 0.4s;
      -webkit-transition: 0.4s;
      -ms-transition: 0.4s; }
    .open #menu-icon .cls2 {
      top: 50px; }
    .open #menu-icon .cls3 {
      top: 60px; }
  .open .language_btn {
    position: fixed;
    right: 10px;
    width: 50px;
    height: 30px;
    border: 0;
    padding: 0;
    z-index: 2;
    text-align: center; }
    .open .language_btn a {
      display: block;
      height: 100%;
      line-height: 30px;
      text-decoration: none;
      font-size: 25px;
      font-weight: 500;
      color: #fff; }
  .open .language_btn:hover {
    opacity: .6; }
  .open .polish {
    background-image: url("../../img/polish_flag.jpg");
    background-position: center;
    background-size: cover;
    top: 100px; }
  .open .english {
    background-image: url("../../img/english_flag.jpg");
    background-position: center;
    background-size: cover;
    top: 145px; }
  .open .main-nav .sub-menu {
    position: fixed;
    background-color: rgba(28, 28, 28, 0.9);
    float: left;
    text-align: center;
    margin: 0;
    width: 100%;
    padding: 0; }
    .open .main-nav .sub-menu .main-item {
      list-style: none;
      display: inline-block;
      float: inherit;
      font-size: 1.3em;
      line-height: 8vh;
      width: 20vw;
      height: 8vh;
      text-align: center;
      display: table-cell; }
      .open .main-nav .sub-menu .main-item a {
        display: block;
        text-decoration: none;
        color: #e6e8e8;
        height: 100%; }
      .open .main-nav .sub-menu .main-item a:hover {
        color: rgba(28, 28, 28, 0.5);
        background-color: #b6bcbc;
        border-bottom: 3px solid #ffa500; }

.change .cls1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 7px);
  transform: rotate(-45deg) translate(-8px, 7px);
  -moz-transform: rotate(-45deg) translate(-8px, 7px);
  -ms-transform: rotate(-45deg) translate(-8px, 7px); }

.change .cls2 {
  opacity: 0; }

.change .cls3 {
  transform: rotate(45deg) translate(-6px, -6px);
  -webkit-transform: rotate(45deg) translate(-6px, -6px);
  -moz-transform: rotate(45deg) translate(-6px, -6px);
  -ms-transform: rotate(45deg) translate(-6px, -6px); }

.off {
  display: none; }

.visible {
  display: block; }

/* navigation - END */
