@media all and (max-width: 576px) {
    #qualifications .container .row .col-md-12 {
        height: 250px;
    }

    #qualifications .container .row .col-md-12 #container {
        height: 100%;
    }
}
