    @media all and (min-width:576px) {
        .box {
            height: 100px;
            width: 100px;
            position: relative;
            display: inline-block;
            margin: 20px;
        }
        .box-in {
            position: absolute;
            height: 100%;
            width: 100%;
            transition: all 0.7s;
        }
        .box-front {
            @include background-center;
            z-index: 1;
            backface-visibility: hidden;
        }
        .box-back {
            color: #fff;
            background: #1ac056;
            transform: rotateY(180deg);
            backface-visibility: hidden;
            border-radius: 50%;
        }
        .box-back>p {
            position: absolute;
            font-size: 20px;
            line-height: 20px;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            left: 0;
        }
        .box:hover .box-front {
            transform: rotateY(180deg);
        }
        .box:hover .box-back {
            transform: rotateY(0deg);
        }
    }
    
    @media all and (max-width:576px) {
        .parallax {
            height: 300px;
            @include background-center;
            background-attachment: fixed;
        }
    }
