@media all and (max-width:768px) {
    #qualifications {
        .container {
            .gallery {
                .lightbox {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media all and (max-width:479px) {
    #qualifications {
        .container {
            .gallery {
                width: 100%;
            }
        }
    }
}
