@import '../variables/variables';
@import '../mixin/mixin';

/* section ABOUT */
#about {
    height: 100vh;
    background: linear-gradient(0deg, #000, #262626);
    color: $white;

    .about-text {
        width: 30vw;
        float: left;
        margin-left: 5vw;
    }

    .slider-section {
        float: left;
        width: 50vw;

        .cube-box {
            width: 30vw;
            height: 20vw;
            margin-left: 10vw;
            perspective: 1000px;

            .walls {
                width: 100%;
                animation: rotate 25s linear infinite;
                -webkit-animation: rotate 25s linear infinite;
                -moz-animation: rotate 25s linear infinite;
                -ms-animation: rotate 25s linear infinite;
                transform-style: preserve-3d;
                -webkit-transform-style: preserve-3d;
                -moz-transform-style: preserve-3d;
                -ms-transform-style: preserve-3d;

                img {
                    height: 100%;
                    width: 100%;
                }

                figure {
                    position: absolute;
                    height: 20vw;
                    width: 30vw;
                }

                .front-wall {
                    transform: translateZ(15vw);
                    -webkit-transform: translateZ(15vw);
                    -moz-transform: translateZ(15vw);
                    -ms-transform: translateZ(15vw);
                }

                .back-wall {
                    transform: rotateY(180deg) translateZ(15vw);
                    -webkit-transform: rotateY(180deg) translateZ(15vw);
                    -moz-transform: rotateY(180deg) translateZ(15vw);
                    -ms-transform: rotateY(180deg) translateZ(15vw);
                }

                .left-wall {
                    transform: rotateY(-90deg) translateX(-15vw);
                    -webkit-transform: rotateY(-90deg) translateX(-15vw);
                    -moz-transform: rotateY(-90deg) translateX(-15vw);
                    -ms-transform: rotateY(-90deg) translateX(-15vw);
                    transform-origin: left;
                    -webkit-transform-origin: left;
                    -moz-transform-origin: left;
                    -ms-transform-origin: left;
                }

                .right-wall {
                    transform: rotateY(90deg) translateX(15vw);
                    -webkit-transform: rotateY(90deg) translateX(15vw);
                    -moz-transform: rotateY(90deg) translateX(15vw);
                    -ms-transform: rotateY(90deg) translateX(15vw);
                    transform-origin: right;
                    -webkit-transform-origin: right;
                    -moz-transform-origin: right;
                    -ms-transform-origin: right;
                }

                @keyframes rotate {
                    0% {
                        transform: rotateY(0);
                        -webkit-transform: rotateY(0);
                        -moz-transform: rotateY(0);
                        -ms-transform: rotateY(0);
                    }

                    100% {
                        transform: rotateY(360deg);
                        -webkit-transform: rotateY(360deg);
                        -moz-transform: rotateY(360deg);
                        -ms-transform: rotateY(360deg);
                    }
                }
            }
        }
    }
}

/* section ABOUT - END */
