@import '../variables/variables';


input:not([type="submit"]):focus,
textarea:focus {
    background-color: #4b657b;
    color: $bialy;
}

input[type="submit"] {
    text-transform: uppercase;
    color: $bialy;
    background-color: $limonka;
    border: none;
    float: right;
    transition: all 0.3s;
    cursor: pointer;
}

input[type="submit"]:hover {
    color: #1ac056;
    background-color: $bialy;
}

input[type="text"],
input[type="email"] {
    color: $bialy;
    width: 100%;
    background-color: $niebieski;
    border: 0;
}

#message {
    color: $bialy;
    width: 100%;
    background-color: $niebieski;
    border: 0;
}

input[type="email"]::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
textarea[name="message"]::-webkit-input-placeholder {
    color: $bialy;
}

textarea {
    resize: none;
}
