@import '../variables/variables';
@import '../mixin/mixin';
#home {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

#home {
    .parallax {
        position: absolute;
        width: 100%;
        height: 150%;
        background-image: url('../../img/paralax/paralax-2.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: bottom;
        z-index: -1;
    }
    .header_content {
        color: $bialy;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        margin: auto;
    }
    .header_content {
        h2 {
            @include czcionka;
        }
        h1 {
            @include czcionka-h1;
        }
    }
}
