@import '../variables/variables';
@import '../mixin/mixin';
#portfolio {
    .container {
        .row {
            .col-md-4 {
                padding: 0;
            }
            #tranzycja-1 {
                    background-image: url(../../img/portfolio1.jpg);
                }
                #tranzycja-2 {
                    background-image: url(../../img/portfolio2.jpg);
                }
                #tranzycja-3 {
                    background-image: url(../../img/portfolio3.jpg);
                }
            .contur {
                height: 300px;
                @include background-center;
            }
            .mask {
                height: 100%;
                background-color: rgba(33, 59, 80, 0.7);
                padding: 5px;
                opacity: 0;
                transition: all 0.3s;
            }
            .mask:hover {
                opacity: 1;
            }
            .mask-inner {
                border: 1px solid $bialy;
                height: 100%;
                @include pozycja-flex;
                margin: 0;
                padding: 0;
                font-size: 16px;
                color: $bialy;
            }
            .fa-link {
                color: $limonka;
                font-size: 2em;
            }
        }
    }
}

