#main-header {
    background: url("../../img/header.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_content {
    color: #fff;
}

.header_content h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
}

.header_content h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 5em;
}

#main-header #main-nav {
    background-color: rgba(0, 0, 0, 0.4);
}

#main-header .navbar-toggler-icon {
    background-color: rgba(255, 255, 255, 0.15);
}

#main-header .navbar-brand {
    font-size: 2em;
    transition: all 0.4s;
}

#main-header .navbar-nav .nav-item .nav-link {
    color: #fff;
}
