@import '../variables/variables';
@import '../mixin/mixin';
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

section {
    padding: 60px 30px;
}

@import '../navigacja/navigacja';
@import '../header/header';
@import '../services/services';
@import '../portfolio/portfolio';
@import '../team/team';
@import '../contact/contact';
@import '../footer/footer';
