    
#kontener { 
    height: 100%; 
    width: 50%; 
    padding: 10px; 
    margin: 0; 
    background-color: darkslategrey; 
    color: white; }
    
input[type="text"] {
    
background-color: #1d97b4;
color: white;
}    


    
    
    
    