@mixin pozycja-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin background-center {
    background-position: center;
    background-size: cover;
}

@mixin czcionka {
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
}

@mixin czcionka-h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 5em;
}

@mixin adres {
    color: $bialy;
    text-align: left;
}
