body {
    margin: 0;
}

section {
    padding: 60px 30px;
    text-align: center
}

h2 {
    margin-bottom: 50px;
}


/*///////////////////////////////////*/

#main-header {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url(../img/logo/Fotolia_96411618_Subscription_Monthly_XL.jpg);
    background-position: center;
    background-size: cover;
}

#main-header .title {
    text-align: center;
    position: relative;
    top: 20%;
    width: 30%;
}

#main-header .title img {
    height: 300px;
}


/*///////////////////////////////////*/

#about .container .row .col-md-6 .discription {
    text-align: left;
    font-size: 18px
}

#about .container .row .col-md-6 .photo-container {
    height: 100vh;
}

#about .container .row .col-md-6 .photo-container img {
    height: 100%;
}


/*///////////////////////////////////*/

#ofert .container .row .col-md-4 {
    margin-bottom: 50px;
}

#ofert .container .row .col-md-4 .gallery {
    margin: 0 auto;
}

#ofert .container .row .col-md-4 .gallery .thumbnail {
    background-color: rgba(151, 154, 151, 0.2);
    transition: 0.2s;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

#ofert .container .row .col-md-4 .gallery .thumbnail:hover {
    transform: scale(1.05);
}

#ofert .container .row .col-md-4 .gallery .thumbnail h3 {
    font-size: 20px;
}

#ofert .container .row .col-md-4 .gallery .thumbnail .lightbox img {
    width: 100%;
}

#ofert .container .row .col-md-4 .gallery .caption {
    padding: 10px;
}

#ofert .container .row .col-md-4 .gallery .caption p {
    font-size: 14px;
}


/*///////////////////////////////////*/

#references {
    background-color: gray;
}

#references .gallery-container p.page-description {
    text-align: center;
    margin: 30px auto;
    font-size: 18px;
    color: #85878c;
}


/* Styles for the gallery */

.tz-gallery {
    padding: 40px;
}

.tz-gallery .thumbnail {
    padding: 0;
    margin-bottom: 30px;
    border: none;
}

.tz-gallery img {
    border-radius: 2px;
    height: 200px;
}

.tz-gallery .caption {
    padding: 26px 30px;
    text-align: center;
}

.tz-gallery .caption h3 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
}

.tz-gallery .caption p {
    font-size: 12px;
    color: #7b7d7d;
    margin: 0;
}


/*///////////////////////////////////*/

#gallery .tz-gallery img {
    border-radius: 20px;
    height: 150px;
}

/*///////////////////////////////////*/

#contact {
    background-color: grey;
}

#contact .container .row .col-md-6 .contact_header {
    text-align: left;
    font-size: 20px;
}

#contact .container .row .col-md-6 .contact_header .fa-facebook {
    text-decoration: none;
    background-color: rgba(1, 1, 62, 0.75);
    border-radius: 50%;
    line-height: 50px;
    height: 50px;
    width: 50px;
    display: inline-block;
    text-align: center;
    font-size: 30px;
    color: #fff;
    margin-top: 20px;
    transition: all 0.4s;
}

#contact .container .row .col-md-6 .contact_header .fa-facebook:hover {
    background-color: #061b71;
    color: #fff;
}


