#qualifications .container .row .col-md-12 {
    margin-bottom: 20px;
}

#qualifications .container .row .col-md-12 .gallery {
    padding: 40px;
}

#qualifications .container .row .col-md-12 .gallery .thumbnail {
    transition: 0.2s;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

#qualifications .container .row .col-md-12 .gallery .thumbnail:hover {
    transform: scale(1.04);
}

#qualifications .container .row .col-md-12 .gallery .thumbnail .lightbox img {
    height: 300px;
}

#qualifications .container .row .col-md-12 .gallery .caption {
    padding: 20px;
}

#qualifications .container .row .col-md-12 .gallery .caption h3 {
    font-size: 20px;
    font-weight: bold;
}

#qualifications .container .row .col-md-12 .gallery .caption p {
    font-size: 14px;
}
