#home {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

#home .parallax {
    position: absolute;
    width: 100%;
    height: 300%;
    background-image: url("../../img/header/2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    z-index: -1;
}

#home .header_content {
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
}

#home .header_content h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    color: black;
}

#home .header_content h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 5em;
    color: #0fb215;
}
